* {
  margin: 0;
  box-sizing: border-box;
}
.App{
  background-color: #dddedd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.App-dark {
  /* background-color: #dddedd; */
  background-color: #1c2429;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

@media only screen and (max-width: 40em) {
  .App,
  .App-dark {
    padding: 0;
    align-items: stretch;
  }
}
